<ion-header>
  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
      <ion-item>
        <ion-label stacked>Name*</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <p *ngIf="formGroup.controls['name'].dirty && formGroup.controls['name'].errors" margin-left class="invalidValue">Invalid value</p>
      <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <p *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors" margin-left>Invalid value</p>
      <ion-list radio-group formControlName="type">
        <ion-list-header>
          Customer Use
        </ion-list-header>
        <ion-item>
          <ion-label>Personal use</ion-label>
          <ion-radio checked="true" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Business</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-list>
  
      <ion-item>
        <ion-label stacked>SIN or BN</ion-label>
        <ion-input formControlName="sinOrBn" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password*</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label stacked>Street Name*</ion-label>
        <ion-input formControlName="streetName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Number*</ion-label>
        <ion-input formControlName="number" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Unit Number</ion-label>
        <ion-input formControlName="unitNumber" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Postal Code*</ion-label>
        <ion-input formControlName="postalCode" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone 1*</ion-label>
        <ion-input formControlName="phone1" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone 2</ion-label>
        <ion-input formControlName="phone2" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone 3</ion-label>
        <ion-input formControlName="phone3" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Province*</ion-label>
        <ion-select formControlName="provinceId" (ionChange)="updateCities()">
          <ion-option *ngFor="let provice of provinces; first as f" [value]="provice.id" [selected]="f">{{provice.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select formControlName="cityId">
          <ion-label stacked>City*</ion-label>
          <ion-option *ngFor="let city of cities" [value]="city.id" >{{city.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block type="submit" [disabled]="formGroup.Invalid">Sign up</button>
    </form>

</ion-content>
